In [1]:
import pandas as pd
import os

In [2]:
# parent event set folder from:

In [3]:
all_files = []

In [4]:
hurricane_directories = [('hurricane_maria_2017', 'Maria'),
 ('hurricane_irma_2017', 'Irma'),
 ('hurricane_harvey_2017', 'Harvey'),
 ('hurricane_matthew_2016', 'Matthew')]

In [5]:
for d, name in hurricane_directories:
    files = os.listdir(d)
    for f in files:
        print(f)
        df = pd.read_csv(f"{d}/{f}", delimiter='\t')
        df['hurricane'] = name
        all_files.append(df)

hurricane_maria_2017_train.tsv
hurricane_maria_2017_test.tsv
hurricane_maria_2017_dev.tsv
hurricane_irma_2017_dev.tsv
hurricane_irma_2017_test.tsv
hurricane_irma_2017_train.tsv
hurricane_harvey_2017_train.tsv
hurricane_harvey_2017_dev.tsv
hurricane_harvey_2017_test.tsv
hurricane_matthew_2016_dev.tsv
hurricane_matthew_2016_test.tsv
hurricane_matthew_2016_train.tsv

In [6]:
len(all_files)

12

In [7]:
df = pd.concat(all_files)
df = df.drop_duplicates()

In [8]:
df.shape

(27443, 4)

In [9]:
df.head()

,tweet_id,tweet_text,class_label,hurricane
0,914134332226330625,San Juan: Trump lashes out with good reason. #...,other_relevant_information,Maria
1,910783670134476800,Hurricane Maria Live Updates: Catastrophic Flo...,caution_and_advice,Maria
2,912134938727780355,"Getting food to the island is, obviously, crit...",rescue_volunteering_or_donation_effort,Maria
3,910669838842056704,My heart breaks for the families in Puerto Ric...,sympathy_and_support,Maria
4,912287091026997248,"#B-FAST sending medical, reconstruction &amp; ...",rescue_volunteering_or_donation_effort,Maria

In [10]:
# df.to_csv('all_labeled_data_without_maryland.csv', index=False)

In [11]:
df_classes = df.groupby('class_label')['tweet_text'].count()
df_classes

class_label
caution_and_advice                        1410
displaced_people_and_evacuations          1612
infrastructure_and_utility_damage         4703
injured_or_dead_people                    2118
not_humanitarian                          1371
other_relevant_information                6021
requests_or_urgent_needs                  1223
rescue_volunteering_or_donation_effort    6716
sympathy_and_support                      2269
Name: tweet_text, dtype: int64

In [12]:
df_2 = pd.read_csv('all_labeled_data.csv')
df_2.shape

(28185, 3)

In [13]:
df_2_classes = df_2.groupby('class_label')['tweet_text'].count()
df_2_classes

class_label
caution_and_advice                        1480
displaced_people_and_evacuations          1612
infrastructure_and_utility_damage         4782
injured_or_dead_people                    2174
missing_or_found_people                    140
not_humanitarian                          1448
other_relevant_information                6158
requests_or_urgent_needs                  1223
rescue_volunteering_or_donation_effort    6789
sympathy_and_support                      2379
Name: tweet_text, dtype: int64

In [14]:
df.shape

(27443, 4)

In [15]:
df.head()

,tweet_id,tweet_text,class_label,hurricane
0,914134332226330625,San Juan: Trump lashes out with good reason. #...,other_relevant_information,Maria
1,910783670134476800,Hurricane Maria Live Updates: Catastrophic Flo...,caution_and_advice,Maria
2,912134938727780355,"Getting food to the island is, obviously, crit...",rescue_volunteering_or_donation_effort,Maria
3,910669838842056704,My heart breaks for the families in Puerto Ric...,sympathy_and_support,Maria
4,912287091026997248,"#B-FAST sending medical, reconstruction &amp; ...",rescue_volunteering_or_donation_effort,Maria

In [16]:
df.to_csv('website_all_labeled_2016_17_hurricanes.csv', index=False)